WC_SUPER/SUPER/App_WebReferences/svcSUPER/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://IBOffice.ibermatica.com/SUPER" elementFormDefault="qualified" targetNamespace="http://IBOffice.ibermatica.com/SUPER" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getExcelVencimientoFacturas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sExtension" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExcelVencimientoFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getExcelVencimientoFacturasResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExcelValorGanado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ds" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="sExtension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mesref" type="xs:int" />
        <xs:element minOccurs="0" name="nIAP" type="xs:int" />
        <xs:element minOccurs="0" name="nEXT" type="xs:int" />
        <xs:element minOccurs="0" name="nOCO" type="xs:int" />
        <xs:element minOccurs="0" name="nIAPCPI" type="xs:int" />
        <xs:element minOccurs="0" name="nEXTCPI" type="xs:int" />
        <xs:element minOccurs="0" name="nOCOCPI" type="xs:int" />
        <xs:element minOccurs="0" name="sMONEDA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sImportesEn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getExcelValorGanadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getExcelValorGanadoResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>