WC_SUPER/SUPER/App_WebReferences/svcSUPERIBOffice/svcSUPER.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="svcSUPER" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IsvcSUPER_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SUPER" />
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://services.intranet.ibermatica/SUPER-CVT/svcSUPER.svc?xsd=xsd5" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsvcSUPER_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_Saludar_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q1:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_SaludarDesdeIbOffice_InputMessage">
    <wsdl:part name="parameters" element="tns:SaludarDesdeIbOffice" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_SaludarDesdeIbOffice_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarDesdeIbOfficeResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_SaludarDesdeIbOffice_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q2:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPlantilla" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPlantillaResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q3:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_avanzada_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPlantilla_avanzada" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_avanzada_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPlantilla_avanzadaResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_obtenerPlantilla_avanzada_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q4:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getPlantilla_InputMessage">
    <wsdl:part name="parameters" element="tns:getPlantilla" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getPlantilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPlantillaResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getPlantilla_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q5:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearEnviarExcelCVT_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearEnviarExcelCVT" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearEnviarExcelCVT_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearEnviarExcelCVTResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearEnviarExcelCVT_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q6:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getExcelCVT_InputMessage">
    <wsdl:part name="parameters" element="tns:getExcelCVT" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getExcelCVT_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExcelCVTResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_getExcelCVT_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q7:SUPERException" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearDatosIberDok_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearDatosIberDok" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearDatosIberDok_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearDatosIberDokResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcSUPER_CrearDatosIberDok_SUPERExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/SUPER" name="detail" element="q8:SUPERException" />
  </wsdl:message>
  <wsdl:portType name="IsvcSUPER">
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/Saludar" message="tns:IsvcSUPER_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/SaludarResponse" message="tns:IsvcSUPER_Saludar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/SaludarSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_Saludar_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaludarDesdeIbOffice">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/SaludarDesdeIbOffice" message="tns:IsvcSUPER_SaludarDesdeIbOffice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/SaludarDesdeIbOfficeResponse" message="tns:IsvcSUPER_SaludarDesdeIbOffice_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/SaludarDesdeIbOfficeSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_SaludarDesdeIbOffice_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPlantilla">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantilla" message="tns:IsvcSUPER_obtenerPlantilla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantillaResponse" message="tns:IsvcSUPER_obtenerPlantilla_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantillaSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_obtenerPlantilla_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPlantilla_avanzada">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantilla_avanzada" message="tns:IsvcSUPER_obtenerPlantilla_avanzada_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantilla_avanzadaResponse" message="tns:IsvcSUPER_obtenerPlantilla_avanzada_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/obtenerPlantilla_avanzadaSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_obtenerPlantilla_avanzada_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPlantilla">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/getPlantilla" message="tns:IsvcSUPER_getPlantilla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/getPlantillaResponse" message="tns:IsvcSUPER_getPlantilla_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/getPlantillaSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_getPlantilla_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearEnviarExcelCVT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/CrearEnviarExcelCVT" message="tns:IsvcSUPER_CrearEnviarExcelCVT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/CrearEnviarExcelCVTResponse" message="tns:IsvcSUPER_CrearEnviarExcelCVT_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/CrearEnviarExcelCVTSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_CrearEnviarExcelCVT_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExcelCVT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/getExcelCVT" message="tns:IsvcSUPER_getExcelCVT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/getExcelCVTResponse" message="tns:IsvcSUPER_getExcelCVT_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/getExcelCVTSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_getExcelCVT_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearDatosIberDok">
      <wsdl:input wsaw:Action="http://tempuri.org/IsvcSUPER/CrearDatosIberDok" message="tns:IsvcSUPER_CrearDatosIberDok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsvcSUPER/CrearDatosIberDokResponse" message="tns:IsvcSUPER_CrearDatosIberDok_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IsvcSUPER/CrearDatosIberDokSUPERExceptionFault" name="SUPERExceptionFault" message="tns:IsvcSUPER_CrearDatosIberDok_SUPERExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IsvcSUPER" type="tns:IsvcSUPER">
    <wsp:PolicyReference URI="#NetTcpBinding_IsvcSUPER_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Saludar">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/Saludar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaludarDesdeIbOffice">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/SaludarDesdeIbOffice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerPlantilla">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/obtenerPlantilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="obtenerPlantilla_avanzada">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/obtenerPlantilla_avanzada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPlantilla">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/getPlantilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CrearEnviarExcelCVT">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/CrearEnviarExcelCVT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getExcelCVT">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/getExcelCVT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CrearDatosIberDok">
      <soap12:operation soapAction="http://tempuri.org/IsvcSUPER/CrearDatosIberDok" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SUPERExceptionFault">
        <soap12:fault use="literal" name="SUPERExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="svcSUPER">
    <wsdl:port name="NetTcpBinding_IsvcSUPER" binding="tns:NetTcpBinding_IsvcSUPER">
      <soap12:address location="net.tcp://ibwebcorp.intranet.ibermatica:103/SUPER-CVT/svcSUPER.svc/svcCVT" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://ibwebcorp.intranet.ibermatica:103/SUPER-CVT/svcSUPER.svc/svcCVT</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>