WC_SUPER/SUPER/App_WebReferences/svcSUPERIBOffice/svcSUPER1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SUPER" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SUPER" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SUPERException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="InnerMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SUPERException" nillable="true" type="tns:SUPERException" />
</xs:schema>