WC_SUPER/SUPER/App_WebReferences/IBERSMS/SMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SMS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ibersms.intranet.ibermatica/SMS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ibersms.intranet.ibermatica/SMS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISMS_EnviarSMS_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMS" />
  </wsdl:message>
  <wsdl:message name="ISMS_EnviarSMS_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarSMSResponse" />
  </wsdl:message>
  <wsdl:message name="ISMS_ModificarClave_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClave" />
  </wsdl:message>
  <wsdl:message name="ISMS_ModificarClave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISMS_ConsultarEnvios_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEnvios" />
  </wsdl:message>
  <wsdl:message name="ISMS_ConsultarEnvios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEnviosResponse" />
  </wsdl:message>
  <wsdl:portType name="ISMS">
    <wsdl:operation name="EnviarSMS">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMS/EnviarSMS" message="tns:ISMS_EnviarSMS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMS/EnviarSMSResponse" message="tns:ISMS_EnviarSMS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarClave">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMS/ModificarClave" message="tns:ISMS_ModificarClave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMS/ModificarClaveResponse" message="tns:ISMS_ModificarClave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEnvios">
      <wsdl:input wsaw:Action="http://tempuri.org/ISMS/ConsultarEnvios" message="tns:ISMS_ConsultarEnvios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISMS/ConsultarEnviosResponse" message="tns:ISMS_ConsultarEnvios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISMS" type="tns:ISMS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarSMS">
      <soap:operation soapAction="http://tempuri.org/ISMS/EnviarSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarClave">
      <soap:operation soapAction="http://tempuri.org/ISMS/ModificarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEnvios">
      <soap:operation soapAction="http://tempuri.org/ISMS/ConsultarEnvios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMS">
    <wsdl:port name="BasicHttpBinding_ISMS" binding="tns:BasicHttpBinding_ISMS">
      <soap:address location="http://ibersms.intranet.ibermatica/SMS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>