WC_SUPER/SUPER/App_WebReferences/wsSapSaldo/zb_vista_pa_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZB_VISTA_PA_WS">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZB_VISTA_PA_WS_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
        <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
          <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
              <sp:TransportToken>
                <wsp:Policy>
                  <sp:HttpsToken>
                    <wsp:Policy>
                      <sp:HttpBasicAuthentication />
                    </wsp:Policy>
                  </sp:HttpsToken>
                </wsp:Policy>
              </sp:TransportToken>
              <sp:AlgorithmSuite>
                <wsp:Policy>
                  <sp:Basic128Rsa15 />
                </wsp:Policy>
              </sp:AlgorithmSuite>
              <sp:Layout>
                <wsp:Policy>
                  <sp:Strict />
                </wsp:Policy>
              </sp:Layout>
            </wsp:Policy>
          </sp:TransportBinding>
        </wsp:All>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZVISTA_PA_WS">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>AC162DB726461EE2AA802EA42A679A08</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZIB_WSRFC_PA_CREAR_TAB">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char16">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="16" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ZVISTA_PA_SUPER">
        <xsd:sequence>
          <xsd:element name="MANDT" type="tns:clnt3" />
          <xsd:element name="BUKRS" type="tns:char4" />
          <xsd:element name="KUNNR" type="tns:char10" />
          <xsd:element name="AUGDT" type="tns:date10" />
          <xsd:element name="AUGBL" type="tns:char10" />
          <xsd:element name="AUGGJ" type="tns:numeric4" />
          <xsd:element name="GJAHR" type="tns:numeric4" />
          <xsd:element name="BELNR" type="tns:char10" />
          <xsd:element name="UMSKS" type="tns:char1" />
          <xsd:element name="UMSKZ" type="tns:char1" />
          <xsd:element name="BUZEI" type="tns:numeric3" />
          <xsd:element name="ZUONR" type="tns:char18" />
          <xsd:element name="POSNR" type="tns:numeric6" />
          <xsd:element name="PARVW" type="tns:char2" />
          <xsd:element name="XBLNR" type="tns:char16" />
          <xsd:element name="VBELN" type="tns:char10" />
          <xsd:element name="REBZG" type="tns:char10" />
          <xsd:element name="LIFNR" type="tns:char10" />
          <xsd:element name="ZTERM" type="tns:char4" />
          <xsd:element name="FKDAT" type="tns:date10" />
          <xsd:element name="SHKZG" type="tns:char1" />
          <xsd:element name="DMBTR" type="tns:curr13.2" />
          <xsd:element name="MWSKZ" type="tns:char2" />
          <xsd:element name="MWSK1" type="tns:char2" />
          <xsd:element name="DMBT1" type="tns:curr13.2" />
          <xsd:element name="MWSK2" type="tns:char2" />
          <xsd:element name="DMBT2" type="tns:curr13.2" />
          <xsd:element name="MWSK3" type="tns:char2" />
          <xsd:element name="DMBT3" type="tns:curr13.2" />
          <xsd:element name="SGTXT" type="tns:char50" />
          <xsd:element name="HKONT" type="tns:char10" />
          <xsd:element name="BUDAT" type="tns:date10" />
          <xsd:element name="ZFBDT" type="tns:date10" />
          <xsd:element name="ZBD1T" type="tns:decimal3.0" />
          <xsd:element name="ZBD2T" type="tns:decimal3.0" />
          <xsd:element name="ZBD3T" type="tns:decimal3.0" />
          <xsd:element name="ZVENC" type="tns:date10" />
          <xsd:element name="BUSAB" type="tns:char2" />
          <xsd:element name="MANSP" type="tns:char1" />
          <xsd:element name="ZLSCH" type="tns:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element name="Number" type="tns:RfcException.Message.Number" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZIB_WSRFC_PA_CREAR_TAB.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZIB_WSRFC_PA_CREAR_TAB.RfcExceptions" />
          <xsd:element minOccurs="0" name="Text" type="xsd:string" />
          <xsd:element minOccurs="0" name="Message" type="tns:RfcException.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TABLE_OF_ZVISTA_PA_SUPER">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZVISTA_PA_SUPER" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZIB_WSRFC_PA_CREAR_TAB.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="N_PARTIDAS" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZIB_WSRFC_PA_CREAR_TAB.Exception" type="tns:ZIB_WSRFC_PA_CREAR_TAB.RfcException" />
      <xsd:element name="ZIB_WSRFC_PA_CREAR_TAB">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_FECHA" type="tns:date10" />
            <xsd:element name="TI_ZVISTA_PA" type="tns:TABLE_OF_ZVISTA_PA_SUPER" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZIB_WSRFC_PA_CREAR_TABResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_RESULTADO" type="xsd:int" />
            <xsd:element name="TI_ZVISTA_PA" type="tns:TABLE_OF_ZVISTA_PA_SUPER" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZIB_WSRFC_PA_CREAR_TAB">
    <wsdl:part name="parameters" element="tns:ZIB_WSRFC_PA_CREAR_TAB" />
  </wsdl:message>
  <wsdl:message name="ZIB_WSRFC_PA_CREAR_TABResponse">
    <wsdl:part name="parameter" element="tns:ZIB_WSRFC_PA_CREAR_TABResponse" />
  </wsdl:message>
  <wsdl:message name="ZIB_WSRFC_PA_CREAR_TAB.Exception">
    <wsdl:part name="ZIB_WSRFC_PA_CREAR_TAB.Exception" element="tns:ZIB_WSRFC_PA_CREAR_TAB.Exception" />
  </wsdl:message>
  <wsdl:portType name="ZVISTA_PA_WS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZVISTA_PA_WS" />
    </wsp:Policy>
    <wsdl:operation name="ZIB_WSRFC_PA_CREAR_TAB">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZIB_WSRFC_PA_CREAR_TAB" />
      </wsp:Policy>
      <wsdl:input message="tns:ZIB_WSRFC_PA_CREAR_TAB" />
      <wsdl:output message="tns:ZIB_WSRFC_PA_CREAR_TABResponse" />
      <wsdl:fault name="ZIB_WSRFC_PA_CREAR_TAB.Exception" message="tns:ZIB_WSRFC_PA_CREAR_TAB.Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZB_VISTA_PA_WS" type="tns:ZVISTA_PA_WS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZB_VISTA_PA_WS" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZIB_WSRFC_PA_CREAR_TAB">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZVISTA_PA_WS:ZIB_WSRFC_PA_CREAR_TABRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZIB_WSRFC_PA_CREAR_TAB.Exception">
        <soap:fault use="literal" name="ZIB_WSRFC_PA_CREAR_TAB.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZB_VISTA_PA_WS_soap12" type="tns:ZVISTA_PA_WS">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZB_VISTA_PA_WS_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZIB_WSRFC_PA_CREAR_TAB">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZVISTA_PA_WS:ZIB_WSRFC_PA_CREAR_TABRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZIB_WSRFC_PA_CREAR_TAB.Exception">
        <wsoap12:fault use="literal" name="ZIB_WSRFC_PA_CREAR_TAB.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZVISTA_PA_WS">
    <wsdl:port name="ZB_VISTA_PA_WS" binding="tns:ZB_VISTA_PA_WS">
      <soap:address location="http://VMSAPIBD.intranet.ibermatica:8000/sap/bc/srt/rfc/sap/zvista_pa_ws/111/zvista_pa_ws/zb_vista_pa_ws" />
    </wsdl:port>
    <wsdl:port name="ZB_VISTA_PA_WS_soap12" binding="tns:ZB_VISTA_PA_WS_soap12">
      <wsoap12:address location="http://VMSAPIBD.intranet.ibermatica:8000/sap/bc/srt/rfc/sap/zvista_pa_ws/111/zvista_pa_ws/zb_vista_pa_ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>