WC_SUPER/SUPER/App_WebReferences/svcCVT/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://IBOffice.ibermatica.com/CVT" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://IBOffice.ibermatica.com/CVT" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://IBOffice.ibermatica.com/CVT/Imports">
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd0" namespace="http://IBOffice.ibermatica.com/CVT" />
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" />
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd3" />
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ibservioffice:8450/IBOffice/svcCVT/?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsvcCVT_Saludar_InputMessage">
    <wsdl:part name="parameters" element="tns:Saludar" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_Saludar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaludarResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_Saludar_IBOfficeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" name="detail" element="q1:IBOfficeException" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_getExcelCVT_InputMessage">
    <wsdl:part name="parameters" element="tns:getExcelCVT" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_getExcelCVT_OutputMessage">
    <wsdl:part name="parameters" element="tns:getExcelCVTResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_getExcelCVT_IBOfficeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" name="detail" element="q2:IBOfficeException" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_DistribuidorPlantilla_InputMessage">
    <wsdl:part name="parameters" element="tns:DistribuidorPlantilla" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_DistribuidorPlantilla_OutputMessage">
    <wsdl:part name="parameters" element="tns:DistribuidorPlantillaResponse" />
  </wsdl:message>
  <wsdl:message name="IsvcCVT_DistribuidorPlantilla_IBOfficeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" name="detail" element="q3:IBOfficeException" />
  </wsdl:message>
  <wsdl:portType name="IsvcCVT">
    <wsdl:operation name="Saludar">
      <wsdl:input wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/Saludar" message="tns:IsvcCVT_Saludar_InputMessage" />
      <wsdl:output wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/SaludarResponse" message="tns:IsvcCVT_Saludar_OutputMessage" />
      <wsdl:fault wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/SaludarIBOfficeExceptionFault" name="IBOfficeExceptionFault" message="tns:IsvcCVT_Saludar_IBOfficeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getExcelCVT">
      <wsdl:input wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/getExcelCVT" message="tns:IsvcCVT_getExcelCVT_InputMessage" />
      <wsdl:output wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/getExcelCVTResponse" message="tns:IsvcCVT_getExcelCVT_OutputMessage" />
      <wsdl:fault wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/getExcelCVTIBOfficeExceptionFault" name="IBOfficeExceptionFault" message="tns:IsvcCVT_getExcelCVT_IBOfficeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DistribuidorPlantilla">
      <wsdl:input wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/DistribuidorPlantilla" message="tns:IsvcCVT_DistribuidorPlantilla_InputMessage" />
      <wsdl:output wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/DistribuidorPlantillaResponse" message="tns:IsvcCVT_DistribuidorPlantilla_OutputMessage" />
      <wsdl:fault wsaw:Action="http://IBOffice.ibermatica.com/CVT/IsvcCVT/DistribuidorPlantillaIBOfficeExceptionFault" name="IBOfficeExceptionFault" message="tns:IsvcCVT_DistribuidorPlantilla_IBOfficeExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>