WC_PROGRESS_BS/App_WebReferences/svcEXCEL/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IBOffice.code.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IBOfficeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="InnerMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IBOfficeException" nillable="true" type="tns:IBOfficeException" />
  <xs:complexType name="ArrayOfExcelSheetProps">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExcelSheetProps" nillable="true" type="tns:ExcelSheetProps" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExcelSheetProps" nillable="true" type="tns:ArrayOfExcelSheetProps" />
  <xs:complexType name="ExcelSheetProps">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstColumnNumber" type="xs:int" />
      <xs:element minOccurs="0" name="FirstRowContainsTitles" type="xs:boolean" />
      <xs:element minOccurs="0" name="FirstRowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SheetName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExcelSheetProps" nillable="true" type="tns:ExcelSheetProps" />
</xs:schema>